@CHARSET "UTF-8";
	.panel-body {
    position: relative;
    padding: 10px;
}


.bootstrap-tagsinput .tag {
    display: inline-block;
    margin-right: 5px;
    padding-left: 5px;
    color: white;
    font-size: 14px;
}

